<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- DB접속정보를 Properties 파일에서 추출해오기 -->
	<properties resource="mybatis/db.properties" /> 

	<environments default="developer">
		<environment id="developer">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="${driver}" />
				<property name="url"
					value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
	<!-- sql 쿼리 mapper정보  -->
 		<mapper resource="web/dao/EmpMapper.xml" /> 
 		<mapper resource="selectKey/dao/SelectKeyMapper.xml" /> 
 		<mapper resource="dynamic/dao/DynamicQueryMapper.xml" /> 
	</mappers>

</configuration>