<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="MEMBER">
  <!-- mat<String Object>로 매핑을 할 경우,Map의 key값과 #{}값이 일치해야한다
  	Map안에 vo가 들어있거나 map이 들어있는경우 .을사용해서 안쪽객체에도 접근가능하다
  	ex)insert("MEMBER.insertMember",map)
  	#{map.userId}
  	기본타입을 매개변수로 넘겼을 경우
  	#{}안의 값과 매개변수명이 일치해야한다
    -->
  	<insert id="insertMember">
  		INSERT INTO tb_member(user_id,password,email,tell)
  		VALUES(#{userId},#{password},#{email},#{tell})
  	</insert>
  	
  	<!--암호와 이전 로그인 쿼리  -->
  	
  	<!-- <select id="selectMember" resultType="MEMBER">
  		SELECT user_id,password,email,tell,reg_date
  		FROM tb_member
  		WHERE user_id=#{id} and password=#{pw}
  		AND is_leave=0
  	</select> -->
  	
  	<!-- 암호와 이후 로그인 쿼리   -->
  	
  	<select id="selectMember" resultType="MEMBER">
  		SELECT user_id,password,email,tell,reg_date
  		FROM tb_member
  		WHERE user_id=#{id}
  		AND is_leave=0
  	</select> 
  	
  	<update id="updateMember">
  		UPDATE tb_member
  		SET password=#{password} ,email=#{email},tell=#{tell}
  		WHERE user_id=#{userId}
  	</update>
  	
  	<delete id="deleteMember">
  		Delete from tb_member
  		where user_id=#{userId} and password=#{password}
  		
  	</delete>
  	
  	<select id="selectId" resultType="int">
  		SELECT count(*) FROM tb_member 
  		WHERE user_id=#{userId}
  	</select>
  	
  	
  
  </mapper>