<?xml version="1.0" encoding="UTF-8"?>


<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dynamic.dao.DynamicQueryDao">
   
   	<select id="select" resultType="hashmap">
   		SELECT * FROM test_member
   		<if test="false">
   		order by no
   		</if>
   	</select>
   	
<!--    	<resultMap type="web.dto.Emp" id="">
   	
   	</resultMap> -->
   	
   	<select id="select2" parameterType="string" resultType="web.dto.Emp">
   		SELECT * FROM emp
   		<if test='ename !=null and !ename.equals("")'>
   			where ename LIKE '%' || #{ename} ||'%'
   		</if>
   	</select>
   	
   	<select id="select3" parameterType="web.dto.Emp" resultType="web.dto.Emp" >
   		SELECT * FROM emp
   		<if test='(ename !=null and !ename.equals("")) or empno !=null'>
   			where ename = #{ename} or empno=#{empno}
   		</if>
   	
   	</select>
   	
   	<select id="select4" parameterType="hashmap" resultType="web.dto.Emp">
   		SELECT * FROM emp
   		 <trim prefix="WHERE" prefixOverrides="AND|OR">
   		 
   		<choose>
   			<when test="cate.equals('ename')">
		   		AND ename=#{keyword}
   			</when>
   			<when test="cate.equals('job')">
		   		AND job=#{keyword}
   			</when>
   		</choose>
   		 </trim>
   		
   	</select>
   	
   	<!-- trim태그 사용예시  -->
<!--    	<select id="select5">
   		SELECT * FROM emp
   		WHERE deptno=10
   		<trim prefix="AND(" prefixOverrides="OR" suffix=")">
  
   		<if test="job !=null">
   		OR job LIKE '%' || #{job} || '%'
   		</if>
   		<if test="sal !=null">
   		OR sal > #{sal}
   		</if>
   		)
   		</trim>
   	</select>
   	 -->

	<select id="findActiveBlogLike" resultType="Blog">

		SELECT * FROM BLOG WHERE
		<trim prefixOverrides="AND">
			<if test="state != null">

				state = #{state}

			</if>

			<if test="title != null">

				AND title like #{title}

			</if>

			<if test="author != null and author.name != null">

				AND author_name like #{author.name}

			</if>
		</trim>

	</select>


	<!-- trim 사용예시2 -->
   	 
<!--    	 <update id="update">
   	 	UPDATE emp
   	 	<trim prefix="SET" suffixOverrides=","> 맨마지막에 오는 ,제거해준다 
   	 	
   	 	
   	 	
   	 		<if test="ename != null">
   	 		ename=#{ename},
   	 		</if>
   	 		<if test="job != null">
   	 		job=#{job},
   	 		</if>
   	 		</trim>
   	 		
   	 	WHERE empno= #{empno}
   	 </update>
   	
   	
   	 -->
   	
   	<select id="selectCheckbox" parameterType="hashmap" 
   	resultType="EmpDto">
   	<!-- resultType="web.dto.Emp"> -->
   		SELECT * FROM emp
   		<if test="deptnoArr != null">
   		WHERE deptno IN
   		<foreach collection="deptnoArr" item="deptno" open="(" close=")" separator=",">
   			#{deptno}
   		</foreach>
   		</if>
   	</select>
   	
   	
   
</mapper>